In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("./bank_additional_full_clean_normalized.csv")

In [5]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,1.642226,0,2,1,0,0,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
1,-0.196449,1,2,4,0,1,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
2,0.093868,2,2,2,0,0,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
3,1.642226,1,2,4,0,0,1,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
4,1.932543,2,2,5,0,0,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0

In [6]:
df.shape

(30488, 21)

In [7]:
df0 = df[df['y']==0]

In [8]:
df1 = df[df['y']==1]

In [9]:
df0.shape

(26629, 21)

In [10]:
df1.shape

(3859, 21)

In [12]:
from sklearn.utils import shuffle

In [13]:
shuffle(df0, random_state=101).head()
# random shuffle class 0 data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
24658,0.093868,3,2,1,0,1,0,1,5,4,...,-0.559326,0.211884,-0.37161,1,-1.073330,-1.076766,-1.168813,-1.234470,-0.821115,0
2034,-0.099677,3,0,1,0,1,0,0,5,4,...,-0.191699,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.787777,0.401641,0
16015,0.093868,4,2,5,0,0,0,1,8,5,...,-0.559326,0.211884,-0.37161,1,0.913755,-0.135488,0.940077,0.845733,0.895268,0
8954,-0.680311,2,0,6,0,0,0,1,7,5,...,-0.191699,0.211884,-0.37161,1,0.913755,0.674250,-0.438010,0.845733,0.895268,0
13622,0.868047,3,2,1,0,0,0,1,8,2,...,1.646434,0.211884,-0.37161,1,0.913755,-0.135488,0.940077,0.847421,0.895268,0

In [18]:
df0_rs = shuffle(df0, random_state=101).iloc[0:3859]
# pick 10000 class 0 data

In [19]:
df_merg = pd.concat([df1, df0_rs])
# mix 10000 class 0 and all class 1 data

In [20]:
df_merg = shuffle(df_merg, random_state=101)

In [21]:
df_merg.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
19728,-0.002904,8,2,5,0,0,1,1,4,2,...,-0.559326,0.211884,-0.371610,1,-1.073330,-0.765854,-1.356734,-1.129250,-0.821115,0
29808,0.190640,4,1,6,0,1,0,1,8,5,...,-0.191699,-4.719257,5.366854,2,-1.011233,0.860456,0.480715,-1.437595,-2.251434,1
8033,-0.970628,1,0,4,0,1,0,1,7,1,...,0.543554,0.211884,-0.371610,1,0.913755,0.674250,-0.438010,0.844045,0.895268,0
28085,2.416405,2,2,4,0,1,0,1,10,5,...,-0.559326,0.211884,1.541211,0,-2.066872,-1.866005,2.861046,-1.536062,-1.906827,1
4882,-0.873856,3,0,2,0,1,0,0,5,5,...,0.175927,0.211884,-0.371610,1,0.727466,0.804082,0.877437,0.790028,0.401641,0

In [23]:
len(df_merg)

7718

In [28]:
X = df.iloc[:, 0:-1]
y = df.y

In [29]:
from sklearn.model_selection import train_test_split

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [33]:
categorical_columns_subset = [
    'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome'
]

numerical_columns_subset = [
    'duration', 'campaign', 'pdays',
    'previous', 'emp.var.rate', 'cons.price.idx', 
    'cons.conf.idx', 'euribor3m', 'nr.employed'
]

X = X[categorical_columns_subset + numerical_columns_subset]
X[categorical_columns_subset] = X[categorical_columns_subset].astype("category")

n_categorical_features = X.select_dtypes(include="category").shape[1]
n_numerical_features = X.select_dtypes(include="number").shape[1]

print(f"Number of samples: {X.shape[0]}")
print(f"Number of features: {X.shape[1]}")
print(f"Number of categorical features: {n_categorical_features}")
print(f"Number of numerical features: {n_numerical_features}")

Number of samples: 30488
Number of features: 19
Number of categorical features: 10
Number of numerical features: 9

/tmp/ipykernel_73784/2282681174.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[categorical_columns_subset] = X[categorical_columns_subset].astype("category")

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [36]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector
from sklearn.pipeline import make_pipeline

one_hot_encoder = make_column_transformer(
    (
        OneHotEncoder(sparse=False, handle_unknown="ignore"),
        make_column_selector(dtype_include="category"),
    ),
    remainder="passthrough",
)

In [49]:
clf_rf1 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=10, min_samples_leaf=1)
).fit(X_train, y_train)

In [50]:
clf_rf2 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=20, min_samples_leaf=1, class_weight='balanced')
).fit(X_train, y_train)

In [51]:
clf_rf3 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=30, min_samples_leaf=1, class_weight='balanced')
).fit(X_train, y_train)

In [52]:
clf_rf4 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=10, min_samples_leaf=3, class_weight='balanced')
).fit(X_train, y_train)

In [53]:
clf_rf5 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=10, min_samples_leaf=6, class_weight='balanced')
).fit(X_train, y_train)

In [54]:
clf_rf6 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=20, min_samples_leaf=3, class_weight='balanced')
).fit(X_train, y_train)

In [55]:
clf_rf7 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=20, min_samples_leaf=6, class_weight='balanced')
).fit(X_train, y_train)

In [56]:
clf_rf8 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=30, min_samples_leaf=3, class_weight='balanced')
).fit(X_train, y_train)

In [57]:
clf_rf9 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=30, min_samples_leaf=6, class_weight='balanced')
).fit(X_train, y_train)

In [58]:
rf_lst = [clf_rf1, clf_rf2, clf_rf3, clf_rf4, clf_rf5, clf_rf6, clf_rf7, clf_rf8, clf_rf9]
n_est_lst = [10, 20, 30, 10, 10, 20, 20, 30, 30]
min_samp_lst = [1, 1, 1, 3, 6, 3, 6, 3, 6]

In [62]:
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve, auc, roc_auc_score

In [60]:
best_f1 = 0
best_idx = 999

for i in range(len(rf_lst)):
    print(f"Random Forest classifier {i+1}, n_estimators={n_est_lst[i]}, min_samples_leaf={min_samp_lst[i]}")
    #print("Classification report on trainng data: \n", classification_report(y_train, rf_lst[i].predict(X_train)))
    cl_rep = classification_report(y_test, rf_lst[i].predict(X_test), digits=4, output_dict=True)
    f1_sc = cl_rep['macro avg']['f1-score']
    
    if f1_sc > best_f1:
        best_f1 = f1_sc
        best_idx = i+1
    print('Classification report on test data:')
    print("f1-score of macro average: \n", f1_sc)
    print("----------------------------------------------------------------------------------")
    
print(f"\nThe best Random Forest classifier is classifier {best_idx} with Micro-Average F1_score {best_f1}")

Random Forest classifier 1, n_estimators=10, min_samples_leaf=1
Classification report on test data:
f1-score of macro average:
 0.7239382012086515
----------------------------------------------------------------------------------
Random Forest classifier 2, n_estimators=20, min_samples_leaf=1
Classification report on test data:
f1-score of macro average:
 0.7198513576854175
----------------------------------------------------------------------------------
Random Forest classifier 3, n_estimators=30, min_samples_leaf=1
Classification report on test data:
f1-score of macro average:
 0.7321555310028607
----------------------------------------------------------------------------------
Random Forest classifier 4, n_estimators=10, min_samples_leaf=3
Classification report on test data:
f1-score of macro average:
 0.7731190279218592
----------------------------------------------------------------------------------
Random Forest classifier 5, n_estimators=10, min_samples_leaf=6
Classification report on test data:
f1-score of macro average:
 0.772311763441287
----------------------------------------------------------------------------------
Random Forest classifier 6, n_estimators=20, min_samples_leaf=3
Classification report on test data:
f1-score of macro average:
 0.7854898606302771
----------------------------------------------------------------------------------
Random Forest classifier 7, n_estimators=20, min_samples_leaf=6
Classification report on test data:
f1-score of macro average:
 0.7754873036726757
----------------------------------------------------------------------------------
Random Forest classifier 8, n_estimators=30, min_samples_leaf=3
Classification report on test data:
f1-score of macro average:
 0.788903715786794
----------------------------------------------------------------------------------
Random Forest classifier 9, n_estimators=30, min_samples_leaf=6
Classification report on test data:
f1-score of macro average:
 0.7770714979141469
----------------------------------------------------------------------------------

The best Random Forest classifier is classifier 8 with Micro-Average F1_score 0.788903715786794

In [64]:
import joblib
joblib.dump(clf_rf8, "best_random_forest_model_one_hot_n_estimators30_min_samples_leaf3_balanced_data.sav")
clf_load = joblib.load("best_random_forest_model_one_hot_n_estimators30_min_samples_leaf3_balanced_data.sav")

In [66]:
classification_report(y_test, clf_load.predict(X_test), output_dict=True)

{'0': {'precision': 0.9717070529308244,
  'recall': 0.897137857767779,
  'f1-score': 0.932934754354042,
  'support': 8001},
 '1': {'precision': 0.5323863636363636,
  'recall': 0.8176265270506108,
  'f1-score': 0.6448726772195458,
  'support': 1146},
 'accuracy': 0.887176123319121,
 'macro avg': {'precision': 0.752046708283594,
  'recall': 0.8573821924091949,
  'f1-score': 0.788903715786794,
  'support': 9147},
 'weighted avg': {'precision': 0.9166658908086582,
  'recall': 0.887176123319121,
  'f1-score': 0.8968443268481786,
  'support': 9147}}

In [63]:
best_auc = 0
best_idx = 999

for i in range(len(rf_lst)):
    print(f"Random Forest classifier {i+1}, n_estimators={n_est_lst[i]}, min_samples_leaf={min_samp_lst[i]}")
    
    auc_sc = roc_auc_score(y_test, rf_lst[i].predict_proba(X_test)[:,1])
    
    if auc_sc > best_auc:
        best_auc = auc_sc
        best_idx = i+1
    
    print(f"roc_auc_score on test data: {auc_sc:.4f}\n")
    print("----------------------------------------------------------------------------------")
    
print(f"The best RF classifier is classifier {best_idx} with roc_auc_score {best_auc:.4f}")

Random Forest classifier 1, n_estimators=10, min_samples_leaf=1
roc_auc_score on test data: 0.9050

----------------------------------------------------------------------------------
Random Forest classifier 2, n_estimators=20, min_samples_leaf=1
roc_auc_score on test data: 0.9231

----------------------------------------------------------------------------------
Random Forest classifier 3, n_estimators=30, min_samples_leaf=1
roc_auc_score on test data: 0.9275

----------------------------------------------------------------------------------
Random Forest classifier 4, n_estimators=10, min_samples_leaf=3
roc_auc_score on test data: 0.9281

----------------------------------------------------------------------------------
Random Forest classifier 5, n_estimators=10, min_samples_leaf=6
roc_auc_score on test data: 0.9324

----------------------------------------------------------------------------------
Random Forest classifier 6, n_estimators=20, min_samples_leaf=3
roc_auc_score on test data: 0.9345

----------------------------------------------------------------------------------
Random Forest classifier 7, n_estimators=20, min_samples_leaf=6
roc_auc_score on test data: 0.9382

----------------------------------------------------------------------------------
Random Forest classifier 8, n_estimators=30, min_samples_leaf=3
roc_auc_score on test data: 0.9378

----------------------------------------------------------------------------------
Random Forest classifier 9, n_estimators=30, min_samples_leaf=6
roc_auc_score on test data: 0.9383

----------------------------------------------------------------------------------
The best RF classifier is classifier 9 with roc_auc_score 0.9383