data: https://archive.ics.uci.edu/ml/datasets/Bank+Marketing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_ori = pd.read_csv("bank-additional/bank-additional-full.csv",  sep=';')
df_ori.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
df=pd.read_csv('bank_additional_full_clean_normalized.csv')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,1.642226,0,0,0,0,0,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
1,-0.196449,1,0,1,0,1,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
2,0.093868,2,0,2,0,0,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
3,1.642226,1,0,1,0,0,1,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
4,1.932543,2,0,3,0,0,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0

In [4]:
X = df.iloc[:, 0:-1]
y = df.y

In [5]:
X.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,1.642226,0,0,0,0,0,0,0,5,1,0.005792,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641
1,-0.196449,1,0,1,0,1,0,0,5,1,-0.127941,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641
2,0.093868,2,0,2,0,0,0,0,5,1,-0.414513,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641
3,1.642226,1,0,1,0,0,1,0,5,1,0.181556,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641
4,1.932543,2,0,3,0,0,0,0,5,1,-0.460365,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641

In [6]:
X.pdays.max(), X.pdays.min()

(0.2118836362185938, -4.749052297919588)

In [7]:
y.head(2)

0    0
1    0
Name: y, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=101)

In [10]:
X_cv, X_test, y_cv, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=101)

In [13]:
from sklearn.metrics import classification_report

In [14]:
df_ori.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [15]:
categorical_columns_subset = [
    'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome'
]

numerical_columns_subset = [
    'duration', 'campaign', 'pdays',
    'previous', 'emp.var.rate', 'cons.price.idx', 
    'cons.conf.idx', 'euribor3m', 'nr.employed'
]

X = X[categorical_columns_subset + numerical_columns_subset]
X[categorical_columns_subset] = X[categorical_columns_subset].astype("category")

n_categorical_features = X.select_dtypes(include="category").shape[1]
n_numerical_features = X.select_dtypes(include="number").shape[1]

print(f"Number of samples: {X.shape[0]}")
print(f"Number of features: {X.shape[1]}")
print(f"Number of categorical features: {n_categorical_features}")
print(f"Number of numerical features: {n_numerical_features}")

Number of samples: 30488
Number of features: 19
Number of categorical features: 10
Number of numerical features: 9

In [16]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector
from sklearn.pipeline import make_pipeline

one_hot_encoder = make_column_transformer(
    (
        OneHotEncoder(sparse=False, handle_unknown="ignore"),
        make_column_selector(dtype_include="category"),
    ),
    remainder="passthrough",
)

In [17]:
from sklearn.metrics import roc_curve, auc, roc_auc_score

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [55]:
clf_rf1 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=10,  min_samples_leaf=1)
)
clf_rf1.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f3b69343100>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(n_estimators=10))])

In [56]:
clf_rf2 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=20, min_samples_leaf=1)
)
clf_rf2.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f3b69343100>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(n_estimators=20))])

In [57]:
clf_rf3 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=30, min_samples_leaf=1)
)
clf_rf3.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f3b69343100>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(n_estimators=30))])

In [58]:
clf_rf4 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=10, min_samples_leaf=3)
)
clf_rf4.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f3b69343100>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(min_samples_leaf=3, n_estimators=10))])

In [59]:
clf_rf5 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=10, min_samples_leaf=6)
)
clf_rf5.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f3b69343100>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(min_samples_leaf=6, n_estimators=10))])

In [60]:
clf_rf6 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=20, min_samples_leaf=3)
)
clf_rf6.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f3b69343100>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(min_samples_leaf=3, n_estimators=20))])

In [61]:
clf_rf7 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=20, min_samples_leaf=6)
)
clf_rf7.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f3b69343100>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(min_samples_leaf=6, n_estimators=20))])

In [62]:
clf_rf8 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=30, min_samples_leaf=3)
)
clf_rf8.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f3b69343100>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(min_samples_leaf=3, n_estimators=30))])

In [63]:
clf_rf9 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=30, min_samples_leaf=6)
)
clf_rf9.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f3b69343100>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(min_samples_leaf=6, n_estimators=30))])

In [64]:
rf_lst = [clf_rf1, clf_rf2, clf_rf3, clf_rf4, clf_rf5, clf_rf6, clf_rf7, clf_rf8, clf_rf9]
n_est_lst = [10, 20, 30, 10, 10, 20, 20, 30, 30]
min_samp_lst = [1, 1, 1, 3, 6, 3, 6, 3, 6]

In [81]:
best_f1 = 0
best_idx = 999

for i in range(len(rf_lst)):
    print(f"Random Forest classifier {i+1}, n_estimators={n_est_lst[i]}, min_samples_leaf={min_samp_lst[i]}")
    #print("Classification report on trainng data: \n", classification_report(y_train, rf_lst[i].predict(X_train)))
    cl_rep = classification_report(y_cv, rf_lst[i].predict(X_cv), digits=4, output_dict=True)
    f1_sc = cl_rep['macro avg']['f1-score']
    
    if f1_sc > best_f1:
        best_f1 = f1_sc
        best_idx = i+1
    print('Classification report on cross-validation data:')
    print("f1-score of macro average: \n", f1_sc)
    print("----------------------------------------------------------------------------------")
    
print(f"\nThe best Random Forest classifier is classifier {best_idx} with Micro-Average F1_score {best_f1}")

Random Forest classifier 1, n_estimators=10, min_samples_leaf=1
Classification report on cross-validation data:
f1-score of macro average:
 0.7305372551993888
----------------------------------------------------------------------------------
Random Forest classifier 2, n_estimators=20, min_samples_leaf=1
Classification report on cross-validation data:
f1-score of macro average:
 0.7536388155181829
----------------------------------------------------------------------------------
Random Forest classifier 3, n_estimators=30, min_samples_leaf=1
Classification report on cross-validation data:
f1-score of macro average:
 0.7626907714807394
----------------------------------------------------------------------------------
Random Forest classifier 4, n_estimators=10, min_samples_leaf=3
Classification report on cross-validation data:
f1-score of macro average:
 0.7633114428516912
----------------------------------------------------------------------------------
Random Forest classifier 5, n_estimators=10, min_samples_leaf=6
Classification report on cross-validation data:
f1-score of macro average:
 0.766961497298285
----------------------------------------------------------------------------------
Random Forest classifier 6, n_estimators=20, min_samples_leaf=3
Classification report on cross-validation data:
f1-score of macro average:
 0.7675736777576345
----------------------------------------------------------------------------------
Random Forest classifier 7, n_estimators=20, min_samples_leaf=6
Classification report on cross-validation data:
f1-score of macro average:
 0.7661959446759354
----------------------------------------------------------------------------------
Random Forest classifier 8, n_estimators=30, min_samples_leaf=3
Classification report on cross-validation data:
f1-score of macro average:
 0.7645930400026133
----------------------------------------------------------------------------------
Random Forest classifier 9, n_estimators=30, min_samples_leaf=6
Classification report on cross-validation data:
f1-score of macro average:
 0.771300421124595
----------------------------------------------------------------------------------

The best Random Forest classifier is classifier 9 with Micro-Average F1_score 0.771300421124595

#### and clf_rf9 (n_estimators= 30 min_samples_leaf= 6 ) had the best f1-scores on class 0 and 1.  Also outperformed previously method that didn't use one-hot-encoder

In [90]:
rf_lst[8].predict_proba(X_cv)

array([[0.99289672, 0.00710328],
       [0.94197913, 0.05802087],
       [0.99143029, 0.00856971],
       ...,
       [0.96181079, 0.03818921],
       [0.98617435, 0.01382565],
       [0.46876222, 0.53123778]])

In [91]:
rf_lst[8].predict_proba(X_cv)[:, 1]

array([0.00710328, 0.05802087, 0.00856971, ..., 0.03818921, 0.01382565,
       0.53123778])

In [94]:
best_auc = 0
best_idx = 999

for i in range(len(rf_lst)):
    print(f"Random Forest classifier {i+1}, n_estimators={n_est_lst[i]}, min_samples_leaf={min_samp_lst[i]}")
#     print("\nRandom Forest model",i+1, "---nn_estimators=", n_est_lst[i], ", min_samples_leaf=", min_samp_lst[i],
#           "\nroc_auc_score on trainng data\n", roc_auc_score(y_train, rf_lst[i].predict(X_train)))
    auc_sc = roc_auc_score(y_cv, rf_lst[i].predict_proba(X_cv)[:,1])
    
    if auc_sc > best_auc:
        best_auc = auc_sc
        best_idx = i+1
    
    print("roc_auc_score on cross-validation data\n", auc_sc)
    print("----------------------------------------------------------------------------------")
    
print(f"The best RF classifier is classifier {best_idx} with roc_auc_score {best_auc}")

Random Forest classifier 1, n_estimators=10, min_samples_leaf=1
roc_auc_score on cross-validation data
 0.9146257936282698
----------------------------------------------------------------------------------
Random Forest classifier 2, n_estimators=20, min_samples_leaf=1
roc_auc_score on cross-validation data
 0.9277651306293888
----------------------------------------------------------------------------------
Random Forest classifier 3, n_estimators=30, min_samples_leaf=1
roc_auc_score on cross-validation data
 0.9315031907302596
----------------------------------------------------------------------------------
Random Forest classifier 4, n_estimators=10, min_samples_leaf=3
roc_auc_score on cross-validation data
 0.9331596236803269
----------------------------------------------------------------------------------
Random Forest classifier 5, n_estimators=10, min_samples_leaf=6
roc_auc_score on cross-validation data
 0.9392035641308402
----------------------------------------------------------------------------------
Random Forest classifier 6, n_estimators=20, min_samples_leaf=3
roc_auc_score on cross-validation data
 0.9401919252631238
----------------------------------------------------------------------------------
Random Forest classifier 7, n_estimators=20, min_samples_leaf=6
roc_auc_score on cross-validation data
 0.9418935889431264
----------------------------------------------------------------------------------
Random Forest classifier 8, n_estimators=30, min_samples_leaf=3
roc_auc_score on cross-validation data
 0.9414872725540437
----------------------------------------------------------------------------------
Random Forest classifier 9, n_estimators=30, min_samples_leaf=6
roc_auc_score on cross-validation data
 0.9418118695571088
----------------------------------------------------------------------------------
The best RF classifier is classifier 7 with roc_auc_score 0.9418935889431264

### clf_rf9 had the best roc_auc_score.

In [95]:
import joblib
joblib.dump(clf_rf9, "best_random_forest_model_one_hot_n_estimators30_min_samples_leaf6.sav")

['best_random_forest_model_one_hot_n_estimators30_min_samples_leaf6.sav']

In [96]:
clf_rf9_load = joblib.load("best_random_forest_model_one_hot_n_estimators30_min_samples_leaf6.sav")

In [97]:
classification_report(y_cv, clf_rf9_load.predict(X_cv), output_dict=True)

{'0': {'precision': 0.9378633720930233,
  'recall': 0.9627004848936964,
  'f1-score': 0.9501196392416712,
  'support': 5362},
 '1': {'precision': 0.6632996632996633,
  'recall': 0.5353260869565217,
  'f1-score': 0.5924812030075187,
  'support': 736},
 'accuracy': 0.9111183994752378,
 'macro avg': {'precision': 0.8005815176963433,
  'recall': 0.7490132859251091,
  'f1-score': 0.771300421124595,
  'support': 6098},
 'weighted avg': {'precision': 0.9047248201625686,
  'recall': 0.9111183994752378,
  'f1-score': 0.9069543573347614,
  'support': 6098}}