data: https://archive.ics.uci.edu/ml/datasets/Bank+Marketing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_ori = pd.read_csv("bank-additional/bank-additional-full.csv",  sep=';')
df_ori.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
df=pd.read_csv('bank_additional_full_clean_normalized.csv')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,1.642226,0,0,0,0,0,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
1,-0.196449,1,0,1,0,1,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
2,0.093868,2,0,2,0,0,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
3,1.642226,1,0,1,0,0,1,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0
4,1.932543,2,0,3,0,0,0,0,5,1,...,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641,0

In [4]:
X = df.iloc[:, 0:-1]
y = df.y

In [5]:
X.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,1.642226,0,0,0,0,0,0,0,5,1,0.005792,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641
1,-0.196449,1,0,1,0,1,0,0,5,1,-0.127941,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641
2,0.093868,2,0,2,0,0,0,0,5,1,-0.414513,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641
3,1.642226,1,0,1,0,0,1,0,5,1,0.181556,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641
4,1.932543,2,0,3,0,0,0,0,5,1,-0.460365,-0.559326,0.211884,-0.37161,1,0.727466,0.804082,0.877437,0.786089,0.401641

In [6]:
X.pdays.max(), X.pdays.min()

(0.2118836362185938, -4.749052297919588)

In [7]:
y.head(2)

0    0
1    0
Name: y, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=101)

In [10]:
X_cv, X_test, y_cv, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=101)

In [11]:
from sklearn.metrics import classification_report

In [12]:
df_ori.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [13]:
categorical_columns_subset = [
    'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome'
]

numerical_columns_subset = [
    'duration', 'campaign', 'pdays',
    'previous', 'emp.var.rate', 'cons.price.idx', 
    'cons.conf.idx', 'euribor3m', 'nr.employed'
]

X = X[categorical_columns_subset + numerical_columns_subset]
X[categorical_columns_subset] = X[categorical_columns_subset].astype("category")

n_categorical_features = X.select_dtypes(include="category").shape[1]
n_numerical_features = X.select_dtypes(include="number").shape[1]

print(f"Number of samples: {X.shape[0]}")
print(f"Number of features: {X.shape[1]}")
print(f"Number of categorical features: {n_categorical_features}")
print(f"Number of numerical features: {n_numerical_features}")

Number of samples: 30488
Number of features: 19
Number of categorical features: 10
Number of numerical features: 9

In [14]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector
from sklearn.pipeline import make_pipeline

one_hot_encoder = make_column_transformer(
    (
        OneHotEncoder(sparse=False, handle_unknown="ignore"),
        make_column_selector(dtype_include="category"),
    ),
    remainder="passthrough",
)

In [15]:
from sklearn.metrics import roc_curve, auc, roc_auc_score

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
clf_rf1 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=10, min_samples_leaf=1, class_weight='balanced')
)
clf_rf1.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f00bb555d60>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced',
                                        n_estimators=10))])

In [18]:
clf_rf2 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=20, min_samples_leaf=1, class_weight='balanced')
)
clf_rf2.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f00bb555d60>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced',
                                        n_estimators=20))])

In [19]:
clf_rf3 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=30, min_samples_leaf=1, class_weight='balanced')
)
clf_rf3.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f00bb555d60>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced',
                                        n_estimators=30))])

In [20]:
clf_rf4 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=10, min_samples_leaf=3, class_weight='balanced')
)
clf_rf4.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f00bb555d60>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced',
                                        min_samples_leaf=3, n_estimators=10))])

In [21]:
clf_rf5 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=10, min_samples_leaf=6, class_weight='balanced')
)
clf_rf5.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f00bb555d60>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced',
                                        min_samples_leaf=6, n_estimators=10))])

In [22]:
clf_rf6 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=20, min_samples_leaf=3, class_weight='balanced')
)
clf_rf6.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f00bb555d60>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced',
                                        min_samples_leaf=3, n_estimators=20))])

In [23]:
clf_rf7 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=20, min_samples_leaf=6, class_weight='balanced')
)
clf_rf7.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f00bb555d60>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced',
                                        min_samples_leaf=6, n_estimators=20))])

In [24]:
clf_rf8 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=30, min_samples_leaf=3, class_weight='balanced')
)
clf_rf8.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f00bb555d60>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced',
                                        min_samples_leaf=3, n_estimators=30))])

In [25]:
clf_rf9 = make_pipeline(
    one_hot_encoder, RandomForestClassifier(n_estimators=30, min_samples_leaf=6, class_weight='balanced')
)
clf_rf9.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f00bb555d60>)])),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced',
                                        min_samples_leaf=6, n_estimators=30))])

In [26]:
rf_lst = [clf_rf1, clf_rf2, clf_rf3, clf_rf4, clf_rf5, clf_rf6, clf_rf7, clf_rf8, clf_rf9]
n_est_lst = [10, 20, 30, 10, 10, 20, 20, 30, 30]
min_samp_lst = [1, 1, 1, 3, 6, 3, 6, 3, 6]

In [27]:
best_f1 = 0
best_idx = 999

for i in range(len(rf_lst)):
    print(f"Random Forest classifier {i+1}, n_estimators={n_est_lst[i]}, min_samples_leaf={min_samp_lst[i]}")
    #print("Classification report on trainng data: \n", classification_report(y_train, rf_lst[i].predict(X_train)))
    cl_rep = classification_report(y_cv, rf_lst[i].predict(X_cv), digits=4, output_dict=True)
    f1_sc = cl_rep['macro avg']['f1-score']
    
    if f1_sc > best_f1:
        best_f1 = f1_sc
        best_idx = i+1
    print('Classification report on cross-validation data:')
    print("f1-score of macro average: \n", f1_sc)
    print("----------------------------------------------------------------------------------")
    
print(f"\nThe best Random Forest classifier is classifier {best_idx} with Micro-Average F1_score {best_f1}")

Random Forest classifier 1, n_estimators=10, min_samples_leaf=1
Classification report on cross-validation data:
f1-score of macro average:
 0.7159191951874221
----------------------------------------------------------------------------------
Random Forest classifier 2, n_estimators=20, min_samples_leaf=1
Classification report on cross-validation data:
f1-score of macro average:
 0.7223609962281474
----------------------------------------------------------------------------------
Random Forest classifier 3, n_estimators=30, min_samples_leaf=1
Classification report on cross-validation data:
f1-score of macro average:
 0.7409819727033238
----------------------------------------------------------------------------------
Random Forest classifier 4, n_estimators=10, min_samples_leaf=3
Classification report on cross-validation data:
f1-score of macro average:
 0.7874877693761434
----------------------------------------------------------------------------------
Random Forest classifier 5, n_estimators=10, min_samples_leaf=6
Classification report on cross-validation data:
f1-score of macro average:
 0.7741348854283963
----------------------------------------------------------------------------------
Random Forest classifier 6, n_estimators=20, min_samples_leaf=3
Classification report on cross-validation data:
f1-score of macro average:
 0.791974415440315
----------------------------------------------------------------------------------
Random Forest classifier 7, n_estimators=20, min_samples_leaf=6
Classification report on cross-validation data:
f1-score of macro average:
 0.7822686326321469
----------------------------------------------------------------------------------
Random Forest classifier 8, n_estimators=30, min_samples_leaf=3
Classification report on cross-validation data:
f1-score of macro average:
 0.791979475613775
----------------------------------------------------------------------------------
Random Forest classifier 9, n_estimators=30, min_samples_leaf=6
Classification report on cross-validation data:
f1-score of macro average:
 0.7865197960200132
----------------------------------------------------------------------------------

The best Random Forest classifier is classifier 8 with Micro-Average F1_score 0.791979475613775

#### and clf_rf8 (n_estimators= 30 min_samples_leaf= 3 ) had the best f1-scores on class 0 and 1.  Also outperformed previously method that didn't use one-hot-encoder

In [32]:
best_auc = 0
best_idx = 999

for i in range(len(rf_lst)):
    print(f"Random Forest classifier {i+1}, n_estimators={n_est_lst[i]}, min_samples_leaf={min_samp_lst[i]}")
#     print("\nRandom Forest model",i+1, "---nn_estimators=", n_est_lst[i], ", min_samples_leaf=", min_samp_lst[i],
#           "\nroc_auc_score on trainng data\n", roc_auc_score(y_train, rf_lst[i].predict(X_train)))
    auc_sc = roc_auc_score(y_cv, rf_lst[i].predict_proba(X_cv)[:,1])
    
    if auc_sc > best_auc:
        best_auc = auc_sc
        best_idx = i+1
    
    print(f"roc_auc_score on cross-validation data: {auc_sc:.4f}\n")
    print("----------------------------------------------------------------------------------")
    
print(f"The best RF classifier is classifier {best_idx} with roc_auc_score {best_auc:.4f}")

Random Forest classifier 1, n_estimators=10, min_samples_leaf=1
roc_auc_score on cross-validation data: 0.9137

----------------------------------------------------------------------------------
Random Forest classifier 2, n_estimators=20, min_samples_leaf=1
roc_auc_score on cross-validation data: 0.9296

----------------------------------------------------------------------------------
Random Forest classifier 3, n_estimators=30, min_samples_leaf=1
roc_auc_score on cross-validation data: 0.9342

----------------------------------------------------------------------------------
Random Forest classifier 4, n_estimators=10, min_samples_leaf=3
roc_auc_score on cross-validation data: 0.9344

----------------------------------------------------------------------------------
Random Forest classifier 5, n_estimators=10, min_samples_leaf=6
roc_auc_score on cross-validation data: 0.9365

----------------------------------------------------------------------------------
Random Forest classifier 6, n_estimators=20, min_samples_leaf=3
roc_auc_score on cross-validation data: 0.9412

----------------------------------------------------------------------------------
Random Forest classifier 7, n_estimators=20, min_samples_leaf=6
roc_auc_score on cross-validation data: 0.9442

----------------------------------------------------------------------------------
Random Forest classifier 8, n_estimators=30, min_samples_leaf=3
roc_auc_score on cross-validation data: 0.9413

----------------------------------------------------------------------------------
Random Forest classifier 9, n_estimators=30, min_samples_leaf=6
roc_auc_score on cross-validation data: 0.9432

----------------------------------------------------------------------------------
The best RF classifier is classifier 7 with roc_auc_score 0.9442

### clf_rf9 had the best roc_auc_score.

In [36]:
import joblib
joblib.dump(clf_rf8, "best_random_forest_model_one_hot_n_estimators30_min_samples_leaf3_wt_balnced.sav")

['best_random_forest_model_one_hot_n_estimators30_min_samples_leaf3_wt_balnced.sav']

In [37]:
clf_load = joblib.load("best_random_forest_model_one_hot_n_estimators30_min_samples_leaf3_wt_balnced.sav")

In [38]:
classification_report(y_cv, clf_load.predict(X_cv), output_dict=True)

{'0': {'precision': 0.9686632288774296,
  'recall': 0.9108541588959344,
  'f1-score': 0.9388696655132642,
  'support': 5362},
 '1': {'precision': 0.5473484848484849,
  'recall': 0.7853260869565217,
  'f1-score': 0.6450892857142857,
  'support': 736},
 'accuracy': 0.895703509347327,
 'macro avg': {'precision': 0.7580058568629573,
  'recall': 0.8480901229262281,
  'f1-score': 0.791979475613775,
  'support': 6098},
 'weighted avg': {'precision': 0.9178125152655399,
  'recall': 0.895703509347327,
  'f1-score': 0.9034117515198159,
  'support': 6098}}